
{% extends "base.html" %}

{% block title %}Inicio - Halo eSports Project{% endblock %}

{% block content %}
<section class="welcome">
    <h2>Bienvenido al Proyecto Halo eSports</h2>
    <p>Gestiona jugadores y equipos de Halo de forma eficiente.</p>
</section>

<section class="about">
    <h2>Acerca de este Proyecto</h2>
    <p>Este es un sistema de gestión integral para comunidades y ligas de Halo eSports, permitiendo un fácil seguimiento de jugadores, equipos y sus estadísticas. Desarrollado con FastAPI, SQLModel y Jinja2.</p>
</section>
{% endblock %}
